<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://github.com/izam-mohammed/izam-mohammed.github.io/blob/main/img/logo.png?raw=true" type="image/webp" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
    <section class="vh-100" style="
        background-color: {{bg}};
      ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;border: solid rgb(0, 0, 0) 2px; box-shadow: 5px 5px 18px #646464;;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5" style="font-weight: 900">Hello {{user}}</h3>
                            <div>
                                <label for="">
                                    🌟 Thank you for visiting my website! 🙌 This is a testing website created by <b>Izam Mohammed</b>. 😊 Your visit means a lot to me! If you have any questions or need assistance, feel free to reach out. 👍 Wish you a bright future ahead. ✨ Stay tuned for more exciting updates! 🚀👀</label>
                                <a href="/logout">
                                <button class="btn btn-lg btn-block"
                                    style="font-weight: 900;background-color: rgb(255, 21, 0); color: rgb(255, 255, 255); font: 14px; margin-top: 50px;">
                                    Logout
                                </button>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>