* {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvertica Neue", "Segoe", Roboto, Ubuntu,
    sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(64, 64, 64);
  color: white;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),url('https://static.standard.co.uk/2022/11/16/10/netflix-s.jpg?width=1200&auto=webp&quality=75');
  background-size: cover;
  background-position: center;
  padding: 5px 5px;
  position: relative;
}

.logo {
  height: auto;
  width: 40vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
}

nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: white;
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.lang-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
}

.lang-btn img {
  width: 10px;
  margin-left: 5px;
}

.header-content {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 5px 5px 12px rgb(56, 56, 56);
  clear: both;
  overflow: auto;
  white-space: nowrap;
}

.header-content h1 {
  font-size: 68px;
  font-weight: 950;
  word-spacing: 0;
}

.header-content h3 {
  font-size: 35px;
  padding-top: 3vh;
  font-weight: 500;
  letter-spacing: 0.3vh;
  padding-bottom: 3vh;
}

.header-content p {
  font-size: 30px;
  padding-top: 3vh;
  font-weight: 500;
  padding-bottom: 3vh;
}

.email-sign input {
  height: 75px;
  width: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(173, 173, 173);
  border-radius: 5px;
  font-size: 24px;
  padding-left: 10px;
}

.email-sign button {
  height: 80px;
  width: 30vh;
  background-color: #db0001;
  border: solid 1 px #db0001;
  border-radius: 12px;
  margin-left: 1%;
  font-size: 34px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
}

.second-page {
  margin-top: 8px;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-next {
  display: flex;
  align-items: center;
  width: 75%;
}

h2 {
  font-size: 68px;
  font-weight: 950;
  word-spacing: 0;
}

p {
  font-size: 32px;
  padding-top: 3vh;
  font-weight: 400;
  padding-bottom: 3vh;
}

.faq {
  margin-top: 7px;
  text-align: center;
  padding: 10%;
  height: auto;
  background: black;
}

.accordian {
  margin: 60px auto;
  width: 100%;
}

.accordian li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordian li label {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 24px;
  font-size: 24px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 3px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 50px;
  position: absolute;
  right: 30px;
}

input[type="radio"] {
  display: none;
}

.accordian .content {
  text-align: left;
  padding: 5px 30px 5px 30px;
  height: 0;
  overflow: hidden;
}

.footer {
  margin-top: 7px;
  height: 50vh;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.footer-item {
  width: 400px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  margin-right: 10px;
}

.footer-item label{
  font-size: 20px;
  display: block;
  margin: 20px 10px 10px 10px;
  color: white;
}

.footer-item a{
    font-size: 15px;
    display: block;
    margin: 20px 10px 10px 10px;
    color:rgb(195, 195, 195);
  }

  .footer-item button{
    margin-top: 30px;
    font-size: 20px;
    color: white;
    padding: 10px 25px 10px 25px;
    border: #717171 solid 1px;
    border-radius: 4px;
  }